body {
}

.editor-label,
.editor-field
{
	display: inline-block;
	margin:0.5em 0 0 0;
}

.editor-label {
	width: 100px
}

.textboxstyled
{
	width: 200px;
}

.dropdownstyled
{
	width: 204px;
}

.textboxstyledsmall
{
	width: 100px;
}

.right {
	float: right;
	margin-right: 50px;
}

#left {
	margin: 10px;
}

#ui-datepicker-div
{
	display: none;
}

.data-list {
	text-align: center;
}
