<h2>Work Hours</h2>
<div ng-controller="WorkManagerCtrl">
<div class="day-details">
    <form  ng-submit="submit()">
        <label>Date</label>
        <input type="date" ng-model="selectedDay" ng-change="ChangeDay()"  > 
        <li ng-repeat="timeInfo in day.TimeInfos" style="list-style: none; ">
            <label>Activities</label>
            <select ng-model="timeInfo.Activity">
                <option value="Work">Work</option>
                <option value="Holiday">Holiday</option>
                <option value="HalfHoliday">HalfHoliday</option>
            </select>
            <label>StartTime</label>
            <input type="time" name="startTime" ng-model="timeInfo.StartTime"  required/>
            <label>FinishTime</label>
            <input type="time" name="finishTime" ng-model="timeInfo.FinishTime" min="{{timeInfo.StartTime}}" required/>
             
            <label>Projects</label>       
            <input ui-select2="selcetUi" ng-model="timeInfo.Projects" style="width:220px"/>

            <label>Description</label>
            <input id="description" type="text" ng-model="timeInfo.Description" />          
        </li>

        <input type="button" ng-click="AddHours()" class="btn-primary" value="Add Hours"/>
        <input type="button" ng-click="DelHours()" class="btn-primary" value="Delete Hours" ng-show="showDel()"/>
        <input type="submit" id="submit" class="btn-primary" value="Save"/>
       
    </form>
    

</div>
    <div ui-calendar="uiConfig.calendar" ng-model="eventSources" class="calendar" calendar="myCalendar" >

</div>




@section FooterSection
{


}