<h2 class="page-header">Work Hours</h2>
@Html.ActionLink("ProjectHours","ProjectHours","WorkManage")
<div ng-controller="WorkManagerCtrl">

    <div class="day-details">
        <form  ng-submit="submit()">
            <label>Date</label>
            <input type="date" ng-model="selectedDay" class="input-medium" ng-change="ChangeDay()"  > 
            <label>Activity</label>
            <select ng-model="timeInfo.Activity" style="width: 165px">
                <option value="Work">Work</option>
                <option value="Holiday">Holiday</option>
                <option value="HalfHoliday">HalfHoliday</option>
            </select>
            <div ng-show="showHours()">
                <label>StartTime</label>
                <input type="time" step="300" id="start" name="startTime" ng-model="timeInfo.StartTime" class="input-medium" min="" required/>
                <label>FinishTime</label>
                <input type="time" step="300" name="finishTime" ng-model="timeInfo.FinishTime" class="input-medium" min="{{timeInfo.StartTime}}" required/>
             
                <label>Projects</label>       
                <input ui-select2="selcetUi" class="input-medium" ng-model="timeInfo.Project" style="width: 165px" required/>

                <label>Description</label>
                <textarea id="description" ng-model="timeInfo.Description" class="text-area" placeholder="Describe what you did" data-ng-dblclick="openEditor(timeInfo.Description)"
                    tooltip="Double click to open editor" 
                    tooltip-trigger="focus"
                    tooltip-placement="left"></textarea> 
            </div>   
            <input type="submit" id="submit" class="btn-primary" value="Save"/>
            <input type="button" ng-click="DelActivity()" class="btn-primary" value="Delete" ng-show="showDel()"/>
 
        </form>
    </div>
    <div ui-calendar="uiConfig.calendar" ng-model="eventSources" class="calendar" calendar="myCalendar" ></div>
    
   

</div>







@section FooterSection
{
  
    
}